* {
    user-select: none;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
     font-family: sans-serif;
}

header{
    height:65px;
    min-height: 65px;
    background-color: #ccc;
    
    display:flex;
	align-items:center;
    padding:5px;
    padding-top:20px;
}

header .nav-btn{
    width: 30px;
    height: 30px;
    background-color: #ddd;
}

header h4{
    flex: auto;
    text-align: center;
    color: #888;
}




footer{
    height:80px;
    min-height: 80px;
    background-color: #eee;
    
    display:flex;
    justify-content:center;
	align-items:center;
}

footer .footer-tool{
    display:flex;
    flex:auto;
    
}
footer .btn{
    flex:auto;   
    display:flex;
    justify-content:center;
 	align-items:center;
   
    background-color: #ccc;
    height:80px;
    min-height: 80px;
    
    margin-right: 1px;
}

article{
    flex: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    padding: 10px;
}